.DS_Store
*.swp
*~.nib
*.xib

build/
/iOS/BooYa/build/
.gitignore
*.pbxproj
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
project.pbxproj
/iOS/BooYa/BooYa.xcodeproj/project.pbxproj
/iOS/BooYa/BooYa/en.lproj/RootViewController.xib
/iOS/BooYa/build
/iOS/BooYa/BooYa.xcodeproj/amit.mode1v3
/iOS/BooYa/BooYa.xcodeproj/amit.pbxuser